In [ ]:
import pandas as pd

In [ ]:
matches = pd.read_csv('matches.csv', index_col=0)

In [ ]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,Match Report,NaN,10.0,2.0,14.6,1.0,0,0,2023,Arsenal
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,Match Report,NaN,19.0,7.0,13.0,0.0,0,0,2023,Arsenal
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,Match Report,NaN,14.0,6.0,14.8,0.0,0,0,2023,Arsenal
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,Match Report,NaN,22.0,8.0,15.5,1.0,0,0,2023,Arsenal
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,Match Report,NaN,22.0,8.0,16.3,1.0,0,0,2023,Arsenal

In [ ]:
matches.shape

(487, 27)

In [ ]:
# Figure out how many matches per team
matches["team"].value_counts()

Arsenal                     28
Tottenham Hotspur           28
Everton                     28
Wolverhampton Wanderers     28
Crystal Palace              28
Aston Villa                 27
Leicester City              27
Nottingham Forest           27
Leeds United                27
Chelsea                     27
Manchester City             27
Fulham                      27
Brentford                   27
Manchester United           27
Brighton and Hove Albion    26
Liverpool                   26
Newcastle United            26
West Ham United             26
Name: team, dtype: int64

In [ ]:
matches[matches["team"]=="Arsenal"]

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,Match Report,NaN,10.0,2.0,14.6,1.0,0,0,2023,Arsenal
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,Match Report,NaN,19.0,7.0,13.0,0.0,0,0,2023,Arsenal
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,Match Report,NaN,14.0,6.0,14.8,0.0,0,0,2023,Arsenal
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,Match Report,NaN,22.0,8.0,15.5,1.0,0,0,2023,Arsenal
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,Match Report,NaN,22.0,8.0,16.3,1.0,0,0,2023,Arsenal
5,2022-09-04,16:30,Premier League,Matchweek 6,Sun,Away,L,1.0,3.0,Manchester Utd,...,Match Report,NaN,16.0,3.0,18.6,1.0,0,0,2023,Arsenal
7,2022-09-18,12:00,Premier League,Matchweek 8,Sun,Away,W,3.0,0.0,Brentford,...,Match Report,NaN,13.0,7.0,18.2,0.0,0,0,2023,Arsenal
8,2022-10-01,12:30,Premier League,Matchweek 9,Sat,Home,W,3.0,1.0,Tottenham,...,Match Report,NaN,22.0,9.0,18.6,1.0,0,0,2023,Arsenal
10,2022-10-09,16:30,Premier League,Matchweek 10,Sun,Home,W,3.0,2.0,Liverpool,...,Match Report,NaN,10.0,6.0,14.3,0.0,1,1,2023,Arsenal
12,2022-10-16,14:00,Premier League,Matchweek 11,Sun,Away,W,1.0,0.0,Leeds United,...,Match Report,NaN,9.0,4.0,16.6,1.0,0,0,2023,Arsenal
14,2022-10-23,14:00,Premier League,Matchweek 13,Sun,Away,D,1.0,1.0,Southampton,...,Match Report,NaN,12.0,3.0,17.2,0.0,0,0,2023,Arsenal
16,2022-10-30,14:00,Premier League,Matchweek 14,Sun,Home,W,5.0,0.0,Nott'ham Forest,...,Match Report,NaN,24.0,9.0,16.0,1.0,0,0,2023,Arsenal
18,2022-11-06,12:00,Premier League,Matchweek 15,Sun,Away,W,1.0,0.0,Chelsea,...,Match Report,NaN,14.0,2.0,14.5,0.0,0,0,2023,Arsenal
20,2022-11-12,19:45,Premier League,Matchweek 16,Sat,Away,W,2.0,0.0,Wolves,...,Match Report,NaN,14.0,3.0,13.7,0.0,0,0,2023,Arsenal
21,2022-12-26,20:00,Premier League,Matchweek 17,Mon,Home,W,3.0,1.0,West Ham,...,Match Report,NaN,16.0,5.0,18.2,1.0,0,0,2023,Arsenal
22,2022-12-31,17:30,Premier League,Matchweek 18,Sat,Away,W,4.0,2.0,Brighton,...,Match Report,NaN,14.0,7.0,11.2,0.0,0,0,2023,Arsenal
23,2023-01-03,19:45,Premier League,Matchweek 19,Tue,Home,D,0.0,0.0,Newcastle Utd,...,Match Report,NaN,17.0,4.0,17.0,0.0,0,0,2023,Arsenal
25,2023-01-15,16:30,Premier League,Matchweek 20,Sun,Away,W,2.0,0.0,Tottenham,...,Match Report,NaN,14.0,5.0,17.9,2.0,0,0,2023,Arsenal
26,2023-01-22,16:30,Premier League,Matchweek 21,Sun,Home,W,3.0,2.0,Manchester Utd,...,Match Report,NaN,25.0,5.0,14.2,0.0,0,0,2023,Arsenal
28,2023-02-04,12:30,Premier League,Matchweek 22,Sat,Away,L,0.0,1.0,Everton,...,Match Report,NaN,15.0,2.0,17.6,0.0,0,0,2023,Arsenal
29,2023-02-11,15:00,Premier League,Matchweek 23,Sat,Home,D,1.0,1.0,Brentford,...,Match Report,NaN,23.0,7.0,19.6,0.0,0,0,2023,Arsenal
30,2023-02-15,19:30,Premier League,Matchweek 12,Wed,Home,L,1.0,3.0,Manchester City,...,Match Report,NaN,9.0,0.0,19.2,0.0,1,1,2023,Arsenal
31,2023-02-18,12:30,Premier League,Matchweek 24,Sat,Away,W,4.0,2.0,Aston Villa,...,Match Report,NaN,20.0,5.0,15.7,0.0,0,0,2023,Arsenal
32,2023-02-25,15:00,Premier League,Matchweek 25,Sat,Away,W,1.0,0.0,Leicester City,...,Match Report,NaN,10.0,2.0,19.4,1.0,0,0,2023,Arsenal
33,2023-03-01,19:45,Premier League,Matchweek 7,Wed,Home,W,4.0,0.0,Everton,...,Match Report,NaN,15.0,5.0,12.9,0.0,0,0,2023,Arsenal
34,2023-03-04,15:00,Premier League,Matchweek 26,Sat,Home,W,3.0,2.0,Bournemouth,...,Match Report,NaN,31.0,9.0,18.1,2.0,0,0,2023,Arsenal
36,2023-03-12,14:00,Premier League,Matchweek 27,Sun,Away,W,3.0,0.0,Fulham,...,Match Report,NaN,15.0,7.0,15.2,1.0,0,0,2023,Arsenal
38,2023-03-19,14:00,Premier League,Matchweek 28,Sun,Home,W,4.0,1.0,Crystal Palace,...,Match Report,NaN,15.0,5.0,16.4,0.0,0,0,2023,Arsenal

In [ ]:
matches["round"].value_counts()

Matchweek 1     18
Matchweek 16    18
Matchweek 27    18
Matchweek 26    18
Matchweek 24    18
Matchweek 12    18
Matchweek 23    18
Matchweek 22    18
Matchweek 21    18
Matchweek 20    18
Matchweek 19    18
Matchweek 18    18
Matchweek 2     18
Matchweek 17    18
Matchweek 15    18
Matchweek 14    18
Matchweek 13    18
Matchweek 11    18
Matchweek 10    18
Matchweek 9     18
Matchweek 6     18
Matchweek 5     18
Matchweek 4     18
Matchweek 3     18
Matchweek 8     16
Matchweek 25    14
Matchweek 28    14
Matchweek 7     11
Name: round, dtype: int64

In [ ]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes            object
sh              float64
sot             float64
dist            float64
fk              float64
pk                int64
pkatt             int64
season            int64
team             object
dtype: object

In [ ]:
 # Change date to datetime  
 matches["date"] = pd.to_datetime(matches["date"])

In [ ]:
matches.dtypes

date            datetime64[ns]
time                    object
comp                    object
round                   object
day                     object
venue                   object
result                  object
gf                     float64
ga                     float64
opponent                object
xg                     float64
xga                    float64
poss                   float64
attendance             float64
captain                 object
formation               object
referee                 object
match report            object
notes                   object
sh                     float64
sot                    float64
dist                   float64
fk                     float64
pk                       int64
pkatt                    int64
season                   int64
team                    object
dtype: object

In [ ]:
#Convert venue to numeric h/a 0 for away 1 for home
matches["venue_code"] = matches["venue"].astype("category").cat.codes

In [ ]:
#Create code for each team
matches["opp_code"] = matches["opponent"].astype("category").cat.codes

In [ ]:
#Create code for match time
matches["hour"] = matches["time"].str.replace(":.+", "", regex=True).astype("int")

In [ ]:
#Code for day of Match
matches["day_code"] = matches["date"].dt.dayofweek

In [ ]:
matches

In [ ]:
#Return 1 if W, 0 if D or L
matches["target"] = (matches["result"] == "W").astype("int")

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [ ]:
train = matches[matches["date"] < '2023-01-01']

In [ ]:
test = matches[matches["date"] > '2023-01-01']

In [ ]:
predictors = ["venue_code", "opp_code", "hour", "day_code"]

In [ ]:
rf.fit(train[predictors], train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [ ]:
#create predictions off test data
preds = rf.predict(test[predictors])

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
acc = accuracy_score(test["target"], preds)

In [ ]:
#Getting accuracy score
acc

0.6296296296296297

In [ ]:
#Create DF with Predictions/Actuals
combined = pd.DataFrame(dict(actual=test["target"], prediction=preds))

In [ ]:
pd.crosstab(index=combined["actual"], columns=combined["prediction"])

prediction   0   1
actual
0           82  35
1           35  37

In [ ]:
from sklearn.metrics import precision_score

In [ ]:
precision_score(test["target"], preds)

0.5138888888888888

In [ ]:
grouped_matches = matches.groupby("team")

In [ ]:
group = grouped_matches.get_group("Arsenal")

In [ ]:
group

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,fk,pk,pkatt,season,team,venue_code,opp_code,hour,day_code,target
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,1.0,0,0,2023,Arsenal,0,6,20,4,1
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,0.0,0,0,2023,Arsenal,1,10,15,5,1
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,0.0,0,0,2023,Arsenal,0,2,17,5,1
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,1.0,0,0,2023,Arsenal,1,8,17,5,1
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,1.0,0,0,2023,Arsenal,1,1,19,2,1
5,2022-09-04,16:30,Premier League,Matchweek 6,Sun,Away,L,1.0,3.0,Manchester Utd,...,1.0,0,0,2023,Arsenal,0,13,16,6,0
7,2022-09-18,12:00,Premier League,Matchweek 8,Sun,Away,W,3.0,0.0,Brentford,...,0.0,0,0,2023,Arsenal,0,3,12,6,1
8,2022-10-01,12:30,Premier League,Matchweek 9,Sat,Home,W,3.0,1.0,Tottenham,...,1.0,0,0,2023,Arsenal,1,17,12,5,1
10,2022-10-09,16:30,Premier League,Matchweek 10,Sun,Home,W,3.0,2.0,Liverpool,...,0.0,1,1,2023,Arsenal,1,11,16,6,1
12,2022-10-16,14:00,Premier League,Matchweek 11,Sun,Away,W,1.0,0.0,Leeds United,...,1.0,0,0,2023,Arsenal,0,9,14,6,1
14,2022-10-23,14:00,Premier League,Matchweek 13,Sun,Away,D,1.0,1.0,Southampton,...,0.0,0,0,2023,Arsenal,0,16,14,6,0
16,2022-10-30,14:00,Premier League,Matchweek 14,Sun,Home,W,5.0,0.0,Nott'ham Forest,...,1.0,0,0,2023,Arsenal,1,15,14,6,1
18,2022-11-06,12:00,Premier League,Matchweek 15,Sun,Away,W,1.0,0.0,Chelsea,...,0.0,0,0,2023,Arsenal,0,5,12,6,1
20,2022-11-12,19:45,Premier League,Matchweek 16,Sat,Away,W,2.0,0.0,Wolves,...,0.0,0,0,2023,Arsenal,0,19,19,5,1
21,2022-12-26,20:00,Premier League,Matchweek 17,Mon,Home,W,3.0,1.0,West Ham,...,1.0,0,0,2023,Arsenal,1,18,20,0,1
22,2022-12-31,17:30,Premier League,Matchweek 18,Sat,Away,W,4.0,2.0,Brighton,...,0.0,0,0,2023,Arsenal,0,4,17,5,1
23,2023-01-03,19:45,Premier League,Matchweek 19,Tue,Home,D,0.0,0.0,Newcastle Utd,...,0.0,0,0,2023,Arsenal,1,14,19,1,0
25,2023-01-15,16:30,Premier League,Matchweek 20,Sun,Away,W,2.0,0.0,Tottenham,...,2.0,0,0,2023,Arsenal,0,17,16,6,1
26,2023-01-22,16:30,Premier League,Matchweek 21,Sun,Home,W,3.0,2.0,Manchester Utd,...,0.0,0,0,2023,Arsenal,1,13,16,6,1
28,2023-02-04,12:30,Premier League,Matchweek 22,Sat,Away,L,0.0,1.0,Everton,...,0.0,0,0,2023,Arsenal,0,7,12,5,0
29,2023-02-11,15:00,Premier League,Matchweek 23,Sat,Home,D,1.0,1.0,Brentford,...,0.0,0,0,2023,Arsenal,1,3,15,5,0
30,2023-02-15,19:30,Premier League,Matchweek 12,Wed,Home,L,1.0,3.0,Manchester City,...,0.0,1,1,2023,Arsenal,1,12,19,2,0
31,2023-02-18,12:30,Premier League,Matchweek 24,Sat,Away,W,4.0,2.0,Aston Villa,...,0.0,0,0,2023,Arsenal,0,1,12,5,1
32,2023-02-25,15:00,Premier League,Matchweek 25,Sat,Away,W,1.0,0.0,Leicester City,...,1.0,0,0,2023,Arsenal,0,10,15,5,1
33,2023-03-01,19:45,Premier League,Matchweek 7,Wed,Home,W,4.0,0.0,Everton,...,0.0,0,0,2023,Arsenal,1,7,19,2,1
34,2023-03-04,15:00,Premier League,Matchweek 26,Sat,Home,W,3.0,2.0,Bournemouth,...,2.0,0,0,2023,Arsenal,1,2,15,5,1
36,2023-03-12,14:00,Premier League,Matchweek 27,Sun,Away,W,3.0,0.0,Fulham,...,1.0,0,0,2023,Arsenal,0,8,14,6,1
38,2023-03-19,14:00,Premier League,Matchweek 28,Sun,Home,W,4.0,1.0,Crystal Palace,...,0.0,0,0,2023,Arsenal,1,6,14,6,1

In [ ]:
#Create Rolling Averages Method
#Cut off at week 3, does not include current week only past data
def rolling_averages(group, cols, new_cols):
  group = group.sort_values("date")
  rolling_stats = group[cols].rolling(3, closed='left').mean()
  group[new_cols] = rolling_stats
  group = group.dropna(subset=new_cols)
  return group

In [ ]:
cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

rolling_averages(group, cols, new_cols)

In [ ]:
matches_rolling = matches.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))

In [ ]:
matches_rolling

                                 date   time            comp         round  \
team
Arsenal                 3  2022-08-27  17:30  Premier League   Matchweek 4
                        4  2022-08-31  19:30  Premier League   Matchweek 5
                        5  2022-09-04  16:30  Premier League   Matchweek 6
                        7  2022-09-18  12:00  Premier League   Matchweek 8
                        8  2022-10-01  12:30  Premier League   Matchweek 9
...                               ...    ...             ...           ...
Wolverhampton Wanderers 29 2023-02-24  20:00  Premier League  Matchweek 25
                        30 2023-03-01  20:00  Premier League   Matchweek 7
                        31 2023-03-04  15:00  Premier League  Matchweek 26
                        32 2023-03-12  16:30  Premier League  Matchweek 27
                        33 2023-03-18  15:00  Premier League  Matchweek 28

                            day venue result   gf   ga        opponent  ...  \
team                                                                    ...
Arsenal                 3   Sat  Home      W  2.0  1.0          Fulham  ...
                        4   Wed  Home      W  2.0  1.0     Aston Villa  ...
                        5   Sun  Away      L  1.0  3.0  Manchester Utd  ...
                        7   Sun  Away      W  3.0  0.0       Brentford  ...
                        8   Sat  Home      W  3.0  1.0       Tottenham  ...
...                         ...   ...    ...  ...  ...             ...  ...
Wolverhampton Wanderers 29  Fri  Away      D  1.0  1.0          Fulham  ...
                        30  Wed  Away      L  0.0  2.0       Liverpool  ...
                        31  Sat  Home      W  1.0  0.0       Tottenham  ...
                        32  Sun  Away      L  1.0  2.0   Newcastle Utd  ...
                        33  Sat  Home      L  2.0  4.0    Leeds United  ...

                            day_code  target  gf_rolling  ga_rolling  \
team
Arsenal                 3          5       1    3.000000    0.666667
                        4          2       1    3.000000    1.000000
                        5          6       0    2.333333    0.666667
                        7          6       1    1.666667    1.666667
                        8          5       1    2.000000    1.333333
...                              ...     ...         ...         ...
Wolverhampton Wanderers 29         4       0    1.666667    0.666667
                        30         2       0    1.000000    1.000000
                        31         5       1    0.333333    1.333333
                        32         6       0    0.666667    1.000000
                        33         5       0    0.666667    1.333333

                           sh_rolling sot_rolling dist_rolling fk_rolling  \
team
Arsenal                 3   14.333333    5.000000    14.133333   0.333333
                        4   18.333333    7.000000    14.433333   0.333333
                        5   19.333333    7.333333    15.533333   0.666667
                        7   20.000000    6.333333    16.800000   1.000000
                        8   17.000000    6.000000    17.700000   0.666667
...                               ...         ...          ...        ...
Wolverhampton Wanderers 29  12.666667    3.333333    16.766667   0.000000
                        30  11.333333    2.333333    16.700000   0.000000
                        31   9.000000    2.333333    14.133333   0.000000
                        32   6.666667    2.666667    16.700000   0.000000
                        33   6.333333    3.333333    17.166667   0.333333

                           pk_rolling  pkatt_rolling
team
Arsenal                 3         0.0            0.0
                        4         0.0            0.0
                        5         0.0            0.0
                        7         0.0            0.0
                        8         0.0            0.0
...                               ...            ...
Wolverhampton Wanderers 29        0.0            0.0
                        30        0.0            0.0
                        31        0.0            0.0
                        32        0.0            0.0
                        33        0.0            0.0

[433 rows x 40 columns]

In [ ]:
matches_rolling = matches_rolling.droplevel('team')

In [ ]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,5,1,3.000000,0.666667,14.333333,5.000000,14.133333,0.333333,0.0,0.0
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,2,1,3.000000,1.000000,18.333333,7.000000,14.433333,0.333333,0.0,0.0
5,2022-09-04,16:30,Premier League,Matchweek 6,Sun,Away,L,1.0,3.0,Manchester Utd,...,6,0,2.333333,0.666667,19.333333,7.333333,15.533333,0.666667,0.0,0.0
7,2022-09-18,12:00,Premier League,Matchweek 8,Sun,Away,W,3.0,0.0,Brentford,...,6,1,1.666667,1.666667,20.000000,6.333333,16.800000,1.000000,0.0,0.0
8,2022-10-01,12:30,Premier League,Matchweek 9,Sat,Home,W,3.0,1.0,Tottenham,...,5,1,2.000000,1.333333,17.000000,6.000000,17.700000,0.666667,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,2023-02-24,20:00,Premier League,Matchweek 25,Fri,Away,D,1.0,1.0,Fulham,...,4,0,1.666667,0.666667,12.666667,3.333333,16.766667,0.000000,0.0,0.0
30,2023-03-01,20:00,Premier League,Matchweek 7,Wed,Away,L,0.0,2.0,Liverpool,...,2,0,1.000000,1.000000,11.333333,2.333333,16.700000,0.000000,0.0,0.0
31,2023-03-04,15:00,Premier League,Matchweek 26,Sat,Home,W,1.0,0.0,Tottenham,...,5,1,0.333333,1.333333,9.000000,2.333333,14.133333,0.000000,0.0,0.0
32,2023-03-12,16:30,Premier League,Matchweek 27,Sun,Away,L,1.0,2.0,Newcastle Utd,...,6,0,0.666667,1.000000,6.666667,2.666667,16.700000,0.000000,0.0,0.0
33,2023-03-18,15:00,Premier League,Matchweek 28,Sat,Home,L,2.0,4.0,Leeds United,...,5,0,0.666667,1.333333,6.333333,3.333333,17.166667,0.333333,0.0,0.0

In [ ]:
matches_rolling.index = range(matches_rolling.shape[0])

In [ ]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2023-01-01']
    test = data[data["date"] > '2023-01-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    error = precision_score(test["target"], preds)
    return combined, error

In [ ]:
combined, error = make_predictions(matches_rolling, predictors + new_cols)

In [ ]:
error

0.5116279069767442

In [ ]:
combined

,actual,predicted,date,team,opponent,result,new_team
18,0,0,2022-11-06,Arsenal,Chelsea,W,Arsenal
18,0,0,2023-01-01,Aston Villa,Tottenham,W,Aston Villa
18,0,0,2022-12-30,Brentford,West Ham,W,Brentford
18,0,0,2022-12-31,Brighton and Hove Albion,Arsenal,L,Brighton
18,0,0,2022-11-06,Chelsea,Arsenal,L,Chelsea
...,...,...,...,...,...,...,...
39,0,0,2023-03-18,Tottenham Hotspur,Southampton,D,Tottenham
40,1,0,2023-03-11,Manchester City,Crystal Palace,W,Manchester City
41,0,0,2023-03-05,Manchester United,Liverpool,L,Manchester Utd
43,0,1,2023-03-12,Manchester United,Southampton,D,Manchester Utd
45,0,1,2023-03-19,Manchester United,Brighton,NaN,Manchester Utd

In [ ]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True)

In [ ]:
combined.head(10)

,actual,predicted,date_x,team_x,opponent_x,result_x,new_team,date_y,team_y,opponent_y,result_y
18,0,0,2022-11-06,Arsenal,Chelsea,W,Arsenal,2022-11-06,Arsenal,Chelsea,W
18,0,0,2022-11-06,Arsenal,Chelsea,W,Arsenal,2023-01-01,Aston Villa,Tottenham,W
18,0,0,2022-11-06,Arsenal,Chelsea,W,Arsenal,2022-12-30,Brentford,West Ham,W
18,0,0,2022-11-06,Arsenal,Chelsea,W,Arsenal,2022-12-31,Brighton and Hove Albion,Arsenal,L
18,0,0,2022-11-06,Arsenal,Chelsea,W,Arsenal,2022-11-06,Chelsea,Arsenal,L
18,0,0,2022-11-06,Arsenal,Chelsea,W,Arsenal,2023-01-04,Crystal Palace,Tottenham,L
18,0,0,2022-11-06,Arsenal,Chelsea,W,Arsenal,2022-12-31,Everton,Manchester City,D
18,0,0,2022-11-06,Arsenal,Chelsea,W,Arsenal,2023-01-03,Fulham,Leicester City,W
18,0,0,2022-11-06,Arsenal,Chelsea,W,Arsenal,2023-01-04,Leeds United,West Ham,D
18,0,0,2022-11-06,Arsenal,Chelsea,W,Arsenal,2022-12-26,Leicester City,Newcastle Utd,L

In [ ]:
class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)

In [ ]:
combined["new_team"] = combined["team"].map(mapping)

In [ ]:
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])

In [ ]:
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,0,0,2022-11-06,Arsenal,Chelsea,W,Arsenal,0,0,Chelsea,Arsenal,L,Chelsea
1,0,0,2022-11-06,Arsenal,Chelsea,W,Arsenal,1,1,Chelsea,Arsenal,L,Chelsea
2,0,0,2022-11-06,Arsenal,Chelsea,W,Arsenal,0,1,Chelsea,Arsenal,L,Chelsea
3,1,1,2022-11-06,Arsenal,Chelsea,W,Arsenal,0,0,Chelsea,Arsenal,L,Chelsea
4,1,1,2022-11-06,Arsenal,Chelsea,W,Arsenal,1,1,Chelsea,Arsenal,L,Chelsea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18109,0,1,2023-03-19,Manchester United,Brighton,NaN,Manchester Utd,0,1,Brighton and Hove Albion,Manchester Utd,NaN,Brighton
18110,0,1,2023-03-19,Manchester United,Brighton,NaN,Manchester Utd,1,1,Brighton and Hove Albion,Manchester Utd,NaN,Brighton
18111,0,1,2023-03-19,Manchester United,Brighton,NaN,Manchester Utd,0,0,Brighton and Hove Albion,Manchester Utd,NaN,Brighton
18112,0,1,2023-03-19,Manchester United,Brighton,NaN,Manchester Utd,0,0,Brighton and Hove Albion,Manchester Utd,NaN,Brighton
18113,0,1,2023-03-19,Manchester United,Brighton,NaN,Manchester Utd,0,0,Brighton and Hove Albion,Manchester Utd,NaN,Brighton

In [ ]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] ==0)]["actual_x"].value_counts()

0    1581
1    1445
Name: actual_x, dtype: int64

In [ ]:
1445/3026

0.47752808988764045